<div class="button-wrap">
    <%= link_to content_tag(:div, "Sign in", :class => "login-button"), login_path %>
    <%= link_to content_tag(:div, "Sign up", :class => "login-button"), new_user_path %>
</div>
