<div class="navbar-menu">
    <div class="navbar-start">
        <% if @current_user.username.present? %>
        <i class="glyphicon glyphicon-user"></i> Welcome back, <%= @current_user.username %>.
        <% else %>
        <i class="glyphicon glyphicon-user"></i> Welcome back, <%= @current_user.email %>
        <% end %>
    </div>
    <div class="navbar-end">
        <a class="navbar-item" href="#"><div class="wrap">
            <i class="glyphicon glyphicon-piggy-bank"></i>
            InvestorHub
        </div></a>
        <a class="navbar-item" href="#"><div class="wrap">
            <i class='glyphicon glyphicon-globe'></i>
            Community
        </div></a>

        <div class="navbar-item">
            <form class="search-form" action="" method="get">
                <div class="wrap">
                    <input id='nav-search-input' type="text" name="symbol"  placeholder="Search for stocks or funds">
                </div>

                <div class="wrap">
                    <button id = 'nav-search-button'>
                        <span><i class="fa fa-search"></i></span>
                        <span>Search</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
