
.user-content {
    width: 100%;
    display: grid;
    grid-template-columns: 28% 70%;
    grid-column-gap: 2%;
    margin: 2px auto;
    /* border: 1px solid black; */
}
.user-profile,
.portfolio-summary,
.portfolio-detail,
.transaction-history,
.new-transaction,
.watchlist,
.share-info {
    border: 1px solid lightgray;
    box-shadow: 0px 2px 3px lightgray;
    margin: 1vh 0;
    padding: 1em;
    min-height: 20vh;
    border-radius: 8px;
    font-size: 18px;
    line-height:2em;
}

.user-profile ul, h3 {
    border-bottom: 1px solid lightgray;
    padding: 10px;
    margin: 0;
    font-size: 15px;
}

.portfolio-detail .wrap,
.portfolio-summary .wrap,
.transaction-history .wrap,
.new-transaction .wrap,
.watchlist .wrap,
.share-info .wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.portfolio-detail h3 a,
.portfolio-summary h3 a,
.transaction-history h3 a,
.new-transaction h3 a,
.watchlist h3 a,
.share-info h3 a {
    border-radius: 4px;
    color: #e8c303;
    background-color: black;
    text-align: center;
    font-size: 18px;
    min-width: 150px;
    min-height: 3vh;
    line-height: 4vh;
}

.portfolio-form {
    max-width: 200px;
    position: absolute;
    top: 250px;
    left:84%;
}

.watchlist-form {
    max-width: 200px;
    position: relative;
    top: -10%;
    left: 50%;
}

.user-edit-form label, .user-edit-form input {
    font-size: 16px;
    margin: 3px;
}

.user-edit-form legend {
    padding-top: 1em;
}

.user-edit-form input.disabled {
    background-color: lightgray
}
